PORT=5000
MONGO_URI=mongodb://tusharoxysquad_db_user:Tushar%402311@ac-9awvfkd-shard-00-00.ng97o1w.mongodb.net:27017,ac-9awvfkd-shard-00-01.ng97o1w.mongodb.net:27017,ac-9awvfkd-shard-00-02.ng97o1w.mongodb.net:27017/attendance-tracker?ssl=true&replicaSet=atlas-ilk8ph-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=attendance_tracker_jwt_super_secret_key_2024
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
NODE_ENV=development
